<h1>Inventory</h1>
<form action="/job_added" method="post">
  <label for="title">Title</label>
  <input id="title" name="title" type="text">

  <label for="description">Description</label>
  <input id="description" name="description" type="text">

  <label for="salary">Salary</label>
  <input id="salary" name="salary" type="text">

  <label for="contactname">Name of Contact</label>
  <input id="contactname" name="contactname" type="text">

  <label for="contactphone">Phone Number of Contact</label>
  <input id="contactphone" name="contactphone" type="text">

  <label for="contactemail">Email of Contact</label>
  <input id="contactemail" name="contactemail" type="text">


  <button type="submit">Submit</button>
</form>
